<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリー登録</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="admin/header"></header>
	<h1>カテゴリー登録</h1>

	<form action="/admin/categories/add" method="post">
		<table border="1">
			<tr>
				<th>カテゴリー名</th>
				<td>
					<input type="text" name="name" required>
				</td>
			</tr>
		</table>
			<button type="submit">更新</button>
	</form>
</body>
</html>