<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDoリスト</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1 text align="left">ToDoリスト</h1>
	</header>
	<hr>
	
	<div class="wrapper">
		<div class="container">
		<h2 class="fsize">管理者ログイン</h2>
		<form action="/admin/login" method="post">
			<input type="email" name="email" placeholder="メールアドレス">
			<br>
			<input type="password" name="password" placeholder="パスワード">
			<br>
				<span th:text="${message}" style="color:red;"></span>
			<br>
			<br>
			<button type="submit">ログイン</button>
		</form>	
		</div>
	
	<footer th:replace="footer"></footer>	
	</div>
</body>
</html>