<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="admin/header"></header>
	<div class="wrapper">
	<br>
	<br>
	<h1>《管理者機能一覧》</h1>
	<br>
	<form action="/admin/tasks/edit" method="get">
		<button type="submit">タスク管理画面へ</button>
	</form>
	<br>
	<br>
	<form action="/admin/categories" method="get">
		<button type="submit">カテゴリー管理画面へ</button>
	</form>
	<br>
	<br>
	<form action="/admin/users" method="get">
		<button type="submit">ユーザー管理へ</button>
	</form>

	<footer th:replace="footer"></footer>	
</div>

</body>
</html>
