/* 全体 */
body {
	background-color: rgb(128, 128, 128); /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
/*    background-image: url("main.png");*/
/*    background-repeat: no-repeat;*/
  	background-size: cover;
    
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	background-color: rgb(0, 0, 0); /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}

.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    width: 100%;
    text-align: center;
    padding: 15px 0;

 	position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}
/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
}
/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}
/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #7d8bae;
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
    background-color: rgb(255, 255, 255);
}
/* 表見出しセル */
table th {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
/* 送信ボタン */
button {
	margin: 5px;
	padding: 5px 20px;
	background-color: #e5857b;
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}

.fsize{
  font-size: 35px;
  text-align: center;
}

/*ウィンドウの枠*/
.container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
	width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
	width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*labelタグ*/
.date-edit {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 93%;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
}

.date-edit::before {
  position: absolute;
  content: "";
  top: 0;
  right: -43px;
  width: 36px;
  height: 36px;
  background-color: #06c;
  background-image: url("icon_calendar.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0;
  width: 36px;
  height: 36px;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(192, 192, 192);
}

/* モーダルウィンドウのスタイル */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }
    .modal-header {
        padding: 2px 16px;
        background-color: rgb(0, 0, 0);
        color: white;
    }
    .modal-footer {
        padding: 10px 16px;
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
/*        display: flex;*/
/*    	flex-direction: row;*/
    }
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: rgb(128, 128, 128);
        text-decoration: none;
        cursor: pointer;
    }
    .modalClose {
        float: right;
        font-size: 28px;
        font-weight: 800;
	}
    
        table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #cccccc;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }
    th {
        background-color: #f2f2f2;
    }
    td:hover {
        background-color: #f9f9f9;
    }
    
/*    tasksカレンダー*/
    .calendar-wrap {		
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 767.98px) {}
  .calendar-wrap {
    display: flex;
    flex-direction: column;
  }

.calendar {
  width: 100%;
  border-collapse: collapse;
}
.calendar th,
.calendar td {
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.calendar th {
  padding: 6px 10px;
}
@media (max-width: 767.98px) {}
  .calendar th,
  .calendar td {
    padding: 6px;
    font-size: 12px;
  }
  .calendar th {
    padding: 3px 6px;
  }

.calendar .sun {
  color: #e17f7e;
  background-color: #f8e4e2;
}
.calendar .sat {
  color: #7ab6f3;
  background-color: #e7f6fd;
}
.calendar .mute {
  color: #aaa;
}
.calendar .today {
  background-color: #7d7d7d;
}
/*.calendar .off {*/
/*  background-color: #fadcdb;*/
/*}*/
td.is-disabled {
    color: #ccc;
}

/*ヘッダー見出しリンク*/
.header1 {
	float: right;
}

/*カテゴリーソート場所変更*/
.categoriesLink {
	float: left;
}

/*span {*/
/*	background-color: #e5857b;*/
/*}*/