<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="encording">
<title>タスク更新</title>
</head>
<body>
	<h1>タスク更新</h1>
	
	<form th:action="@{/tasks/{id}/edit(id=${task.id})}" method="post">
		<table border="1">
			<tr>
				<th>カテゴリー</th>
				<td th:value="${task.categoryId}">
					<input type="checkbox" name="categoryId" value="1">仕事
					<input type="checkbox" name="categoryId" value="2">個人
					<input type="checkbox" name="categoryId" value="3">その他
				</td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title" th:value="${task.title}">
				</td>
			</tr>
			<tr>
				<th>期限</th>
				<td>
					<input type="date" name="closingDate">
				</td>
			</tr>
			<tr>
				<th>進捗状況</th>
				<td>
					<input type="checkbox" name="progress" value="0">未着手
					<input type="checkbox" name="progress" value="1">進行中
					<input type="checkbox" name="progress" value="2">完了
				</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td>
					<textarea name="memo" th:value="${task.memo}" rows="4" cols="40"></textarea>
				</td>
			</tr>
		</table>
		<input type="submit" value="更新">
	</form>

</body>
</html>