<!--<header>-->
<!--	<h1><a href="/tasks">ToDoリスト</a>	</h1>-->
<!--	<span th:text="'こんにちは'+${@account.name}"さん></span>-->
<!--</header>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ToDoリスト</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>

    <header>
        <h1><a href="/tasks">ToDoリスト</a></h1>
        <span th:text="'こんにちは！ '+${@account.name}+' さん！'"></span>
        <a href="#" id="logoutButton">ログアウト</a>
    </header>

    <!-- モーダルウィンドウ -->
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="closeModal">&times;</span>
                <h2>確認</h2>
            </div>
            <div class="modal-body">
                <p>本当にログアウトしますか？</p>
            </div>
            <div class="modal-footer">
                <button id="confirmLogout">ログアウト</button>
                <button id="cancelLogout">キャンセル</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('logoutButton').onclick = function() {
            document.getElementById('logoutModal').style.display = "block";
        };

        document.getElementById('closeModal').onclick = function() {
            document.getElementById('logoutModal').style.display = "none";
        };

        document.getElementById('cancelLogout').onclick = function() {
            document.getElementById('logoutModal').style.display = "none";
        };

        document.getElementById('confirmLogout').onclick = function() {
            window.location.href = "/logout";
        };

        window.onclick = function(event) {
            if (event.target == document.getElementById('logoutModal')) {
                document.getElementById('logoutModal').style.display = "none";
            }
        };
    </script>
</body>
</html>