<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="encording">
<title>ToDoリスト</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h2>ToDoリスト</h2>
	</header>
	<hr>
	
	<main>
		<div class="container">
		<h2 class="fsize">ログイン</h2>
		<form action="/login" method="post">
			<input type="text" name="email" placeholder="メールアドレス">
			<br>
			<input type="text" name="password" placeholder="パスワード">
			<br>
<!--			<th:block th:each="error:${errorList}">-->
			<span th:text="${message}" style="color:red;"></span>
<!--			</th:block>-->
			<br>
			<br>
			<a href="/users/new">ユーザー新規作成</a>
			<button type="submit">ログイン</button>
		</form>	
		</div>
		
	</main>
	
	<hr>
	<footer th:replace="footer"></footer>	

</body>
</html>