<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDoリスト</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h2>ToDoリスト</h2>
	</header>
	<hr>
	
<!--	<main>-->
	<div class="wrapper">
		<div class="container">
		<h2 class="fsize">ログイン</h2>
		<form action="/login" method="post">
			<input type="email" name="email" placeholder="メールアドレス">
			<br>
			<input type="password" name="password" placeholder="パスワード">
			<br>
				<ul th:if="${errorList}" class="error" th:each="error:${errorList}" th:text="${error}" style="color:red;"></ul>
				<span th:text="${message}" style="color:red;"></span>
			<br>
			<br>
<!--			<a href="/users/new">ユーザー新規作成</a>-->
			<button type="submit">ログイン</button>
		</form>	
		<form action="/users/new" method="get">
			<button type="submit">ユーザー新規登録</button>
		</form>
		</div>
	
		
<!--	</main>-->
	
	<footer th:replace="footer"></footer>	
	</div>

</body>
</html>