<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDOリスト</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	
	<div class="wrapper">
	<nav>
		<a href="/tasks">全タスク</a>
		<a th:each="c:${categories}" th:href="@{/tasks(categoryId=${c.id})}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
	</nav>

	<br>
		<table border="1">
		<tr>
			<th>ID</th>
			<th>カテゴリーID</th>
			<th>タイトル</th>
			<th>期限</th>
			<th>進捗状況</th>
			<th>メモ</th>
		</tr>
		<tr th:each="task:${tasks}">
			<td th:text="${task.id}"></td>
			<td>
				<span th:if="${task.categoryId}==1">仕事</span>
				<span th:if="${task.categoryId}==2">個人</span>
				<span th:if="${task.categoryId}==3">その他</span>
			</td>
			<td th:text="${task.title}"></td>
			<td th:text="${task.closingDate}"></td>
			<td>
				<span th:if="${task.progress}==0">未着手</span>
				<span th:if="${task.progress}==1">進行中</span>
				<span th:if="${task.progress}==2">完了</span>
			</td>
			<td th:text="${task.memo}"></td>
		</tr>
	</table>
	
	<button id="prev" type="button">前の月</button>
	<button id="next" type="button">次の月</button>
	<div id="calendar"></div>
	<script>
		const weeks = ['日', '月', '火', '水', '木', '金', '土']
		const date = new Date()
		let year = date.getFullYear()
		let month = date.getMonth() + 1
		const config = {
		    show: 1, // 出力カレンダー数
		}
		
		function showCalendar(year, month) {
		    for ( i = 0; i < config.show; i++) {
		        const calendarHtml = createCalendar(year, month)
		        const sec = document.createElement('section')
		        sec.innerHTML = calendarHtml
		        document.querySelector('#calendar').appendChild(sec)
		
		        month++
		        if (month > 12) {
		            year++
		            month = 1
		        }
		    }
		}
		
		function createCalendar(year, month) {
		    const startDate = new Date(year, month - 1, 1) // 月の最初の日を取得
		    const endDate = new Date(year, month,  0) // 月の最後の日を取得
		    const endDayCount = endDate.getDate() // 月の末日
		    const lastMonthEndDate = new Date(year, month - 1, 0) // 前月の最後の日の情報
		    const lastMonthendDayCount = lastMonthEndDate.getDate() // 前月の末日
		    const startDay = startDate.getDay() // 月の最初の日の曜日を取得
		    let dayCount = 1 // 日にちのカウント
		    let calendarHtml = '' // HTMLを組み立てる変数
		
		    calendarHtml += '<h1>' + year  + '/' + month + '</h1>'
		    calendarHtml += '<table>'
		
		    // 曜日の行を作成
		    for (let i = 0; i < weeks.length; i++) {
		        calendarHtml += '<td>' + weeks[i] + '</td>'
		    }
		
		    for (let w = 0; w < 6; w++) {
		        calendarHtml += '<tr>'
		
		        for (let d = 0; d < 7; d++) {
		            if (w == 0 && d < startDay) {
		                // 1行目で1日の曜日の前
		                let num = lastMonthendDayCount - startDay + d + 1
		                calendarHtml += '<td class="is-disabled">' + num + '</td>'
		            } else if (dayCount > endDayCount) {
		                // 末尾の日数を超えた
		                let num = dayCount - endDayCount
		                calendarHtml += '<td class="is-disabled">' + num + '</td>'
		                dayCount++
		            } else {
		                calendarHtml += '<td>' + dayCount + '</td>'
		                dayCount++
		            }
		        }
		        calendarHtml += '</tr>'
		    }
		    calendarHtml += '</table>'
		
		    return calendarHtml
		}
		
		function moveCalendar(e) {
		    document.querySelector('#calendar').innerHTML = ''
		
		    if (e.target.id === 'prev') {
		        month--
		
		        if (month < 1) {
		            year--
		            month = 12
		        }
		    }
		
		    if (e.target.id === 'next') {
		        month++
		
		        if (month > 12) {
		            year++
		            month = 1
		        }
		    }
		
		    showCalendar(year, month)
		}
		
		document.querySelector('#prev').addEventListener('click', moveCalendar)
		document.querySelector('#next').addEventListener('click', moveCalendar)
		
		showCalendar(year, month)
	</script>
	
	<style>
		h1 {
    font-size: 18px;
	}
	
	table {
	    border-spacing: 0;
	    border-collapse: collapse;
	}
	
	td {
	    border: 1px solid #ddd;
	    padding: 5px;
	    text-align: center;
	}
	/*
	td:first-child {
	    color: red;
	}
	
	td:last-child {
	    color: royalblue;
	}
	*/
	td.is-disabled {
    color: #ccc;
	}
	</style>
	
<!--	<div id="calendar" class="calendar-wrap"></div>-->
<!--	<script>-->
<!--		const date = new Date();-->
<!--		const today = date.getDate();-->
<!--		const currentMonth = date.getMonth();-->
		
<!--		function createCalendar(month) {-->
<!--		    const monthDays = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];-->
<!--		    let calendarHTML = '<table class="calendar"><thead><tr>';-->
		
<!--		    for (let i = 0; i < 7; i++) {-->
<!--		        if (i === 0) {-->
<!--		            calendarHTML += `<th class="sun">${monthDays[i]}</th>`;-->
<!--		        } else if (i === 6) {-->
<!--		            calendarHTML += `<th class="sat">${monthDays[i]}</th>`;-->
<!--		        } else {-->
<!--		            calendarHTML += `<th>${monthDays[i]}</th>`;-->
<!--		        }-->
<!--		    }-->
		
<!--		    calendarHTML += '</tr></thead><tbody>';-->
		
<!--		    const daysInMonth = new Date(date.getFullYear(), month + 1, 0).getDate();-->
<!--		    const firstDay = new Date(date.getFullYear(), month, 1).getDay();-->
		
<!--		    const daysInPrevMonth = new Date(date.getFullYear(), month, 0).getDate();-->
		
<!--		    let dayCount = 1;-->
<!--		    let prevDayCount = daysInPrevMonth - firstDay + 1;-->
		
<!--		    for (let i = 0; i < 6; i++) {-->
<!--		        calendarHTML += '<tr>';-->
		
<!--		        for (let j = 0; j < 7; j++) {-->
<!--		            if (i === 0 && j < firstDay) {-->
<!--		                calendarHTML += `<td class="mute">${prevDayCount}</td>`;-->
<!--		                prevDayCount++;-->
<!--		            } else if (dayCount > daysInMonth) {-->
<!--		                let nextMonthDayCount = dayCount - daysInMonth;-->
<!--		                calendarHTML += `<td class="mute">${nextMonthDayCount}</td>`;-->
<!--		                dayCount++;-->
<!--		            } else {-->
<!--		                // 今日の日付にclassを付ける-->
<!--		                if (dayCount === today && month === currentMonth) {-->
<!--		                    calendarHTML += `<td class="today">${dayCount}</td>`;-->
<!--		                } -->
<!--		                // 日曜日にclassを付ける-->
<!--		                else if (j === 0) {-->
<!--		                    calendarHTML += `<td class="off">${dayCount}</td>`;-->
<!--		                } -->
<!--		                else if (j === 6) {-->
<!--		                    calendarHTML += `<td class="on">${dayCount}</td>`;-->
<!--		                } -->
<!--						else {-->
<!--		                    calendarHTML += `<td>${dayCount}</td>`;-->
<!--		                }-->
<!--		                dayCount++;-->
<!--		            }-->
<!--		        }-->
		
<!--		        calendarHTML += '</tr>';-->
		
<!--		        if (dayCount - daysInMonth > 7) {-->
<!--		            break;-->
<!--		        }-->
<!--		    }-->
		
<!--		    calendarHTML += '</tbody></table>';-->
		
<!--		    return calendarHTML;-->
<!--		}-->
		
<!--		document.getElementById('calendar').innerHTML = createCalendar(currentMonth) + createCalendar(currentMonth + 1);-->
<!--		//  来月分を表示したい場合は"+ createCalendar(currentMonth + 1)"を後ろに加える-->
<!--	</script>-->
	
	<br>
		<form action="/tasks/add" method="get">
			<button type="submit">新規タスク追加</button>
		</form>
		<form action="/tasks/edit" method="get">
			<button type="submit">編集</button>
		</form>
		<footer th:replace="footer"></footer>
</div>

</body>
</html>