<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDOリスト</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	
	<div class="wrapper">
	<nav>
		<form action="/tasks" method="get">タスク名<input type="text" name="keyword" th:value="${keyword}" placeholder="タスク名">
		<button>検索</button>
		</form>
		<a href="/tasks" class="categoriesLink">全タスク</a>
		<a th:each="c:${categories}" th:href="@{/tasks(categoryId=${c.id})}">
			<span class="categoriesLink" text-align="left" th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
		<br>
		<span class="categoriesLink"><a href="tasks?sort=ASC">締め切り順</a></span>
		<br>
	</nav>

	<br>
	<h1>《タスク一覧》</h1>
	<br>
		<table border="1">
		<tr>
			<th>ID</th>
			<th>カテゴリーID</th>
			<th>タスク実行者</th>
			<th>タイトル</th>
			<th>期限</th>
			<th>進捗状況</th>
			<th>メモ</th>
		</tr>
		<tr th:each="task:${tasks}">
			<td th:text="${task.id}"></td>
			<td>
				<span th:if="${task.categoryId}==1">仕事</span>
				<span th:if="${task.categoryId}==2">個人</span>
				<span th:if="${task.categoryId}==3">その他</span>
			</td>
			<td>
				<span th:if="${task.userId}==1">石田</span>
				<span th:if="${task.userId}==2">小林</span>
				<span th:if="${task.userId}==3">中留</span>
				<span th:if="${task.userId}==4">三井</span>
				<span th:if="${task.userId}==5">伊賀</span>
				<span th:if="${task.userId}==6">牧野</span>
			</td>
			<td th:text="${task.title}"></td>
			<td th:text="${task.closingDate}"></td>
			<td>
				<span th:if="${task.progress}==0">未着手</span>
				<span th:if="${task.progress}==1">進行中</span>
				<span th:if="${task.progress}==2">完了</span>
			</td>
			<td th:text="${task.memo}"></td>
		</tr>
	</table>
	<br>
	
<!--カレンダー表示-->
	<br>
	<h3>《今月のカレンダー》</h3>
		<div id="calendar" class="calendar-wrap"></div>
	<script>
		const date = new Date();
		const today = date.getDate();
		const currentMonth = date.getMonth();
		
		function createCalendar(month) {
		    const monthDays = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
		    let calendarHTML = '<table class="calendar"><thead><tr>';
		
		    for (let i = 0; i < 7; i++) {
		        if (i === 0) {
		            calendarHTML += `<th class="sun">${monthDays[i]}</th>`;
		        } else if (i === 6) {
		            calendarHTML += `<th class="sat">${monthDays[i]}</th>`;
		        } else {
		            calendarHTML += `<th>${monthDays[i]}</th>`;
		        }
		    }
		
		    calendarHTML += '</tr></thead><tbody>';
		
		    const daysInMonth = new Date(date.getFullYear(), month + 1, 0).getDate();
		    const firstDay = new Date(date.getFullYear(), month, 1).getDay();
		
		    const daysInPrevMonth = new Date(date.getFullYear(), month, 0).getDate();
		
		    let dayCount = 1;
		    let prevDayCount = daysInPrevMonth - firstDay + 1;
		
		    for (let i = 0; i < 6; i++) {
		        calendarHTML += '<tr>';
		
		        for (let j = 0; j < 7; j++) {
		            if (i === 0 && j < firstDay) {
		                calendarHTML += `<td class="mute">${prevDayCount}</td>`;
		                prevDayCount++;
		            } else if (dayCount > daysInMonth) {
		                let nextMonthDayCount = dayCount - daysInMonth;
		                calendarHTML += `<td class="mute">${nextMonthDayCount}</td>`;
		                dayCount++;
		            } else {
		                // 今日の日付にclassを付ける
		                if (dayCount === today && month === currentMonth) {
		                    calendarHTML += `<td class="today">${dayCount}</td>`;
		                } 
		                // 土曜日にclassを付ける
		                else if (j === 6) {
		                    calendarHTML += `<td class="sat">${dayCount}</td>`;
		                }
		                // 日曜日にclassを付ける
		                else if (j === 0) {
		                    calendarHTML += `<td class="sun">${dayCount}</td>`;
		                } else {
		                    calendarHTML += `<td>${dayCount}</td>`;
		                }
		                dayCount++;
		            }
		        }
		
		        calendarHTML += '</tr>';
		
		        if (dayCount - daysInMonth > 7) {
		            break;
		        }
		    }
		
		    calendarHTML += '</tbody></table>';
		
		    return calendarHTML;
		}
		
		document.getElementById('calendar').innerHTML = createCalendar(currentMonth);
		//  来月分を表示したい場合は"+ createCalendar(currentMonth + 1)"を後ろに加える
	</script>
	
	<br>
		<form action="/tasks/add" method="get">
			<button type="submit">新規タスク登録</button>
		</form>
		<br>
		<form action="/tasks/edit" method="get">
			<button type="submit">編集</button>
		</form>
		<footer th:replace="footer"></footer>
</div>
</body>
</html>